<% include partials/header.ejs %>
<div class="table-wrapper">
  <% if (doctors.length > 0) {%>
  <table class="table table-hovered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nume</th>
        <th scope="col">Prenume</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% doctors.forEach((doctor, index) => { %>
      <tr>
        <th scope="row"><%= doctor.id_medic %></th>
        <td><%= doctor.nume %></td>
        <td><%= doctor.prenume %></td>
        <td>
          <a href="/edit/<%= doctor.id_medic %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
          <a href="/delete/<%= doctor.id_medic %>" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <p class="text-center">No players found. Go <a href="/add">here</a> to add players.</p>
  <% } %>
</div>
</div>
</body>

</html>