<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Clinica Medicala
    link(rel='stylesheet', href='/styles/font-awesome.css')
    link(rel='stylesheet', href='/styles/tailwind-output.css')
    link(rel='stylesheet', href='/styles/main.css')
  body.pt-24.relative
    block header
      header.top
        nav#header.bg-white.fixed.w-full.z-10.top-0.shadow
          .w-full.container.mx-auto.flex.flex-wrap.items-center.mt-0.pt-3.pb-3(class='md:pb-0')
            .pl-2(class='w-1/2 md:pl-0')
              a.text-gray-800.text-base.no-underline.font-bold(class='xl:text-xl hover:no-underline', href='/')
                i.fad.fa-clinic-medical.text-gray-800.pr-3
                |  Aplicatie Web Clinica Medicala
            if session.utilizatorId != null
              .pr-0(class='w-1/2')
                .flex.relative.inline-block.self-end.justify-end.content-center
                  a#userButton.flex.items-center.mr-3(class='focus:outline-none' href=`/utilizatori/${session.utilizatorId}`)
                    span.hidden(class='md:inline-block') Buna, #{session.utilizator.nume} #{session.utilizator.prenume} 
                  a.bg-transparent.border.border-gray-500.text-gray-500.font-bold.py-2.px-4.rounded-full(class='hover:border-gray-800 hover:text-gray-800' href=`/logout`) 
                    i.far.fa-sign-out.pr-2 
                    | Logout
            else
              .pr-0(class='w-1/2')
                .flex.relative.inline-block.self-end.justify-end.content-center
                  a.bg-transparent.border.border-gray-500.text-gray-500.font-bold.py-2.px-4.rounded-full(class='hover:border-gray-800 hover:text-gray-800' href=`/login`) 
                    i.far.fa-sign-in.pr-2 
                    | Login
            #nav-content.w-full.flex-grow.hidden.mt-2.bg-white.z-20(class='lg:flex lg:items-center lg:w-auto lg:block lg:mt-0')
              ul.list-reset.flex-1.items-center.px-4(class='lg:flex md:px-0')
                if session.utilizatorId != null && session.utilizator.id_rol == 1
                  li.mr-6.my-2(class='md:my-0')
                    a.block.py-1.pl-1.align-middle.no-underline.border-b-2(href='/utilizatori', class=(currentPath.startsWith('/utilizatori') ? ' text-gray-600 border-orange-600 md:py-3 hover:text-gray-900 hover:border-orange-600' : ' text-gray-500 border-white md:py-3 hover:text-gray-900 hover:border-orange-500'))
                      i.fal.fa-users.fa-fw.mr-3
                      span.pb-1.text-sm(class='md:pb-0') Utilizatori
                li.mr-6.my-2(class='md:my-0')
                  a.block.py-1.pl-1.align-middle.no-underline.border-b-2(href='/medici', class=(currentPath.startsWith('/medici') ? ' text-gray-700 border-pink-600 md:py-3 hover:text-gray-900 hover:border-pink-600' : ' text-gray-500 border-white md:py-3 hover:text-gray-900 hover:border-pink-500'))
                    i.fal.fa-user-md.fa-fw.mr-3
                    span.pb-1.text-sm(class='md:pb-0') Medici
                if session.utilizatorId != null && (session.utilizator.id_rol == 1 || session.utilizator.id_rol == 4)
                  li.mr-6.my-2(class='md:my-0')
                    a.block.py-1.pl-1.align-middle.no-underline.border-b-2(href='/pacienti', class=(currentPath.startsWith('/pacienti') ? ' text-gray-700 border-purple-600 md:py-3 hover:text-gray-900 hover:border-purple-600' : ' text-gray-500 border-white md:py-3 hover:text-gray-900 hover:border-purple-500'))
                      i.fal.fa-hospital-user.fa-fw.mr-3
                      span.pb-1.text-sm(class='md:pb-0') Pacienti
                if session.utilizatorId != null && session.utilizator.id_rol == 1
                  li.mr-6.my-2(class='md:my-0')
                    a.block.py-1.pl-1.align-middle.no-underline.border-b-2(href='/programari', class=(currentPath.startsWith('/programari') ? 'text-gray-700 border-teal-600 md:py-3 hover:text-gray-900 hover:border-teal-600' : '  text-gray-500 border-white md:py-3 hover:text-gray-900 hover:border-teal-500'))
                      i.fal.fa-calendar-check.fa-fw.mr-3
                      span.pb-1.text-sm(class='md:pb-0') Programari
                li.mr-6.my-2(class='md:my-0')
                  a.block.py-1.pl-1.align-middle.no-underline.border-b-2(href='/policlinici', class=(currentPath.startsWith('/policlinici') ? 'text-gray-700 border-green-600 md:py-3 hover:text-gray-900 hover:border-green-600' : ' text-gray-500 border-white md:py-3 hover:text-gray-900 hover:border-green-500'))
                    i.fal.fa-clinic-medical.fa-fw.mr-3
                    span.pb-1.text-sm(class='md:pb-0') Policlinici
                li.mr-6.my-2(class='md:my-0')
                  a.block.py-1.pl-1.align-middle.no-underline.border-b-2(href='/servicii', class=(currentPath.startsWith('/servicii') ? 'text-gray-700 border-red-500 md:py-3 hover:text-gray-900 hover:border-red-500' : ' text-gray-500 border-white md:py-3 hover:text-gray-900 hover:border-red-500'))
                    i.fal.fa-head-side-medical.fa-fw.mr-3
                    span.pb-1.text-sm(class='md:pb-0') Servicii Medicale
                li.mr-6.my-2(class='md:my-0')
                  a.block.py-1.pl-1.align-middle.no-underline.border-b-2(href='/asigurari', class=(currentPath.startsWith('/asigurari') ? 'text-gray-700 border-red-500 md:py-3 hover:text-gray-900 hover:border-red-500' : ' text-gray-500 border-white md:py-3 hover:text-gray-900 hover:border-red-500'))
                    i.fal.fa-coins.fa-fw.mr-3
                    span.pb-1.text-sm(class='md:pb-0') Asigurari Medicale

    block messages
      if !h.isEmptyObject(locals.flashes)
        - const categories = Object.keys(locals.flashes)
        .fixed.top-24.right-0.m-6.z-50
          each category in categories
            each message in flashes[category]
              .rounded-lg.shadow-md.p-6.pr-10.relative(class=`flash--${category}` style='min-width: 240px')
                button.opacity-75.cursor-pointer.absolute.top-0.right-0.py-2.px-3(class='hover:opacity-100' onClick="this.parentElement.remove()")
                  | ×
                .flex.items-center=message
        //- .inner
        //-   .flash-messages
        //-     - const categories = Object.keys(locals.flashes)
        //-     each category in categories
        //-       each message in flashes[category]
        //-         .flash(class=`flash--${category}`)
        //-           p.flash__text!= message
        //-           button.flash__remove(onClick="this.parentElement.remove()") &times;

    // Container
    .container.w-full.mx-auto
      .w-full.px-4.mb-8.text-gray-800.leading-normal(class='md:px-0 md:mt-8')
        block content

    // Landing Page
    block landingPage

    // Modals
    block modal

    footer.relative.py-6
      hr.my-6.border-gray-800
      .flex.flex-wrap.items-center.justify-center(class='md:justify-between')
        .w-full.px-4.mx-auto.text-center(class='md:w-4/12')
          .text-sm.text-gray-800.font-semibold.py-1
            | Copyright © 2020 Alpicatie Web Clinica Medicala
            br 
            a.text-gray-500(href='https://github.com/davidschinteie' class='hover:text-gray-800' target='_blank') David Schinteie Alexandru

    block scripts
      //- script(src='/dist/bundle.js')
