mixin programareForm(programare = {})
  //- pre= h.dump(locals)
  form.w-full(action=currentPath method='POST')
    input(type="hidden", name="id_pacient", value=programare.id_pacient || 25)
    input(type="hidden", name="id_medic", value=programare.id_medic)
    //- @todo: de inlocuit id_pacient placeholder cu valoare din sesiunea logarii
    .flex.flex-wrap.-mx-3.mb-6
      .w-full.px-3.mb-6(class='md:w-1/2 md:mb-0')
        label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2(for='grid-servicii_medicale')
          | Servicii Medicale
        .relative
          select#grid-servicii_medicale.block.appearance-none.w-full.bg-gray-200.border.border-gray-200.text-gray-700.py-3.px-4.pr-8.rounded.leading-tight(class='focus:outline-none focus:bg-white focus:border-gray-500' name="serviciu_medical_id")
            each serviciu in servicii_medicale
              if serviciu.id_serviciu == programare.id_serviciu
                option(value=serviciu.id_serviciu selected)=serviciu.denumire_serviciu
              else  
                option(value=serviciu.id_serviciu)=serviciu.denumire_serviciu
          .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700
            svg.fill-current.h-4.w-4(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20')
              path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
    .flex.flex-wrap.-mx-3.mb-6
      .w-full.px-3.mb-6(class='md:mb-0')
        label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2(for='grid-output_serviciu')
          | Detalii Serviciu Medical
        .flex.flex-wrap.output_serviciu#output_serviciu
    .flex.flex-wrap.-mx-3.mb-6
      .w-full.px-3.mb-6(class='md:w-1/2 md:mb-0')
        label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2(for='grid-data_programare')
          | Data programare
        .relative
          input#grid-data_programare.appearance-none.block.w-full.bg-gray-200.text-gray-700.border.border-gray-200.rounded.py-3.px-4.leading-tight(class='focus:outline-none focus:bg-white focus:border-gray-500' type="date" name="data_programare" value=h.moment(programare.moment_programare).format('YYYY-MM-DD'))
      .w-full.px-3.mb-6(class='md:w-1/2 md:mb-0')
        label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2(for='grid-orar_medic')
          | Orar Medic
        .relative.orar_medic#output_program
    .flex.flex-wrap.-mx-3.mb-6
      .w-full.px-3.mb-6(class='md:w-1/2 md:mb-0')
        label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2(for='grid-ora_programare')
          | Ora programare
        .relative
          input#grid-ora_programare.appearance-none.block.w-full.bg-gray-200.text-gray-700.border.border-gray-200.rounded.py-3.px-4.leading-tight(class='focus:outline-none focus:bg-white focus:border-gray-500' type="time" name="ora_programare" value=(programare.moment_programare ? h.moment(programare.moment_programare).format('HH:mm') : ''))
    .flex.flex-wrap.-mx-3.mb-2.px-3.justify-center
      button.bg-indigo-500.text-white.font-bold.py-2.px-4.rounded(class='hover:bg-indigo-700 focus:outline-none focus:shadow-outline', type='submit') Salveaza

  script(type='text/javascript').
    locations = !{JSON.stringify(locals.orar)};
    servicii_medicale = !{JSON.stringify(locals.servicii_medicale)};
  script(src='/javascripts/modules/programare.js')